img{
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 20px auto;
}

.home {
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-height: 450px;
  margin: 0;
}

.header {
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
}

.footer{
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
}

.details {
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-height: 450px;
  display: flex;
  flex-direction: row;
}

.details-text {
  display: flex;
  margin: 5px;
}

.details-title {
  font-size: 50px;
  border: 1px solid black;
}

.details-overview {
  border: 1px solid black;
}

.details-img {
  border: 1px solid black;
  margin-right: 10px;
}

.details-info {
  border: 1px solid black;
}

.home-search {
  margin-top: 50px;
  margin-bottom: 40px;
}

.home-search-form {
  display: flex;
  justify-content: center;
}

.show-list-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.show-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.show {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  max-width: 200px;
}

.show-title {
  font-size: 20px;
  text-align: center;
}

.show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media screen and (max-width: 930px) {
  .show-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .show-list {
    grid-template-columns: repeat(1, 1fr);
  }
}