body {
  background-color: #1A1B22;
}
img{
  display: flex;
}

a {
  text-decoration: none;
  color: #BFBDC6;
}

.App {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 20px auto;
  color: #BFBDC6;
  background-color: #1A1B22;
}

.home {
  border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6;
  min-height: 450px;
  margin: 0;
  background-color: #1A1B22;
}

.trending {
  border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6;
  padding: 25px;
}

.header {
  border: 1px solid #BFBDC6;
  padding: 10px 0;
  text-align: center;
  background-color: #21242D;
  color: #3AF4C0;
  font-size: 30px;
  font-weight: bold;
}

.nav {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  
}

.tonight {
  border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6;
}

.selected {
  color: #3AF4C0;
}

.footer{
  border: 1px solid #BFBDC6;
  padding: 10px 0;
  text-align: center;
  background-color: #21242D;
}

.details {
  border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.similar {
  border: 1px solid #BFBDC6;
  margin: 5px;
}
.similar > h3 {
  margin-left: 10px;
}

.details-img-and-text-wrapper{
  display: flex;
}

.details-text {
  display: flex;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.details-title {
  font-size: 50px;
  border: 1px solid #BFBDC6;
}

.details-overview {
  border: 1px solid #BFBDC6;
}

.details-img > img {
  border: 1px solid #BFBDC6;
  width: 300px;
  height: 448px;
  max-height: 450px;
}

.details-info {
  border: 1px solid #BFBDC6;
}

.home-search {
  margin-top: 50px;
  margin-bottom: 40px;
}

.home-search-form {
  display: flex;
  justify-content: center;
}

.show-list-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1A1B22;
}

.show-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  
}

.show {
  display: flex;
  flex-direction: column;
  border: 1px solid #BFBDC6;
  align-items: center;
  max-width: 200px;
}

.show-title {
  font-size: 18px;
  text-align: center;
}

.show-img > img {
  width: 200px;
  height: 300px;
}

.show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media screen and (max-width: 930px) {
  .show-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .App {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .show-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .details-img-and-text-wrapper {
    flex-direction: column;
  }
}