body {
  background-color: #1A1B22;
}
img{
  display: flex;
}

a {
  text-decoration: none;
  color: #BFBDC6;
}

.App {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
  color: #BFBDC6;
  background-color: #1A1B22;
}

.home {
  /* border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6; */
  min-height: 450px;
  margin: 0;
  background-color: #1A1B22;
}

.trending {
  border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6;
  padding: 25px;
}

.header {
  /* border: 1px solid #BFBDC6; */
  text-align: center;
  padding: 4px;
  background-color: #21242D;
  font-family: Overpass;
  color: #3AF4C0;
  font-size: 22px;
  font-weight: bold;
  display: flex;
}

.logo {
  text-align: left;
}

.logo-watching {
  margin-top: -10px;
}

.nav {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  font-family: Overpass;	
  font-size: 16px;	
  font-weight: 600;	
  letter-spacing: 0.5px;	
  line-height: 25px;	
  text-align: center;
  width: 100%;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.tonight {
  border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6;
}

.selected {
  color: #3AF4C0;
}

.footer{
  border: 1px solid #BFBDC6;
  padding: 10px 0;
  text-align: center;
  background-color: #21242D;
}

.copy {
  color: #CECBD7;	
  font-family: Overpass;	
  font-size: 14px;	
  letter-spacing: 0.44px;	
  line-height: 24px;
}
.website {
  color: #78F5CD
}

.details {
  /* border-left: 1px solid #BFBDC6;
  border-right: 1px solid #BFBDC6; */
  min-height: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

}

.similar {
  /* border: 1px solid #BFBDC6; */
  margin: 5px;
  margin-top: 30px;
}

.similar-title {
  color: #3AF4C0;	
  font-family: Overpass;	
  font-size: 28px;	
  letter-spacing: 3px;	
  line-height: 42px;
  text-align: center;
  margin-bottom: 25px;
}

.details-img-and-text-wrapper{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.details-text {
  display: flex;
  margin: 5px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-family: overpass;
  max-width: 600px;
}

.details-title {
  /* border: 1px solid #BFBDC6; */
  color: #3AF4C0;
  font-size: 48px;	
  font-weight: bold;	
  letter-spacing: 1px;	
  line-height: 74px;
}

.details-overview {
  /* border: 1px solid #BFBDC6; */
  color: #C7C4D0;	
  font-family: Overpass;	
  font-size: 14px;	
  letter-spacing: 0.44px;	
  line-height: 24px;
}

.details-img > img {
  /* border: 1px solid #BFBDC6; */
  width: 300px;
  height: 448px;
  max-height: 450px;
  margin-top: 20px;
}

.details-info {
  /* border: 1px solid #BFBDC6; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.details-info-column {
  display: flex;
  flex-direction: column;
}

.details-info-header {
  color: #6E7489;	
  font-family: Overpass;	
  font-size: 14px;	
  font-weight: 600;	
  letter-spacing: 3px;	
  line-height: 22px;
}

.details-info-text {
  color: #BFBDC6;	
  font-family: Overpass;	
  font-size: 18px;	
  letter-spacing: 0.56px;	
  line-height: 28px;
}

.home-search {
  margin-top: 50px;
  margin-bottom: 40px;
}

.home-search-form {
  display: flex;
  justify-content: center;
}

.show-list-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1A1B22;
}

.show-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.show {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #BFBDC6; */
  align-items: center;
  max-width: 200px;
}

.show-title {
  font-size: 18px;
  text-align: center;
  color: #BFBDC6;	
  font-family: Overpass;	
  font-size: 16px;	
  font-weight: 600;	
  letter-spacing: 0.5px;	
  line-height: 25px;	
  text-align: center;
}

.show-img > img {
  width: 200px;
  height: 300px;
}

.show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv-category-wrapper {
  margin-top: 30px;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.carousel .mover {
  display: flex;
  animation: moveSlideshow 60s linear infinite;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-46.6666%);  
  }
}



@media screen and (max-width: 930px) {
  .show-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .App {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .show-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .details-img-and-text-wrapper {
    flex-direction: column;
  }
}